@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Customer Order Tracker
    </h1>
    <p class="lead">This tracks some stuff and keeps record of some stuff.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
